<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <clear/>
        <add value="index.html"/>
      </files>
    </defaultDocument>
    <rewrite>
      <rules>
        <!-- Skip rewrite for APK files -->
        <rule name="Allow APK Download" stopProcessing="true">
          <match url="^app-release\.apk$" />
          <action type="None" />
        </rule>
        <!-- Rewrite all other requests to index.html -->
        <rule name="Serve index.html for SPA" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.html" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
